<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    stopOnError                 = "false"
    stopOnIncomplete            = "false"
    stopOnSkipped               = "false"
    bootstrap                   = "vendor/autoload.php"
    syntaxCheck                 = "true"
    verbose                     = "true"
    beStrictAboutTestsThatDoNotTestAnything = "true"
    checkForUnintentionallyCoveredCode  = "false"
    beStrictAboutOutputDuringTests      = "true"
    beStrictAboutTestSize               = "true"
>

</phpunit>
